@model GomezGallery.Domain.Entities.Picture

@{
	if (Model.PictureID != 0)
	{
		ViewBag.Title = "Admin: Edit " + Model.Name;
	}
	else
	{
		ViewBag.Title = "Admin: Add New Picture";
	}
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
	<div class="card-header">
		<h3>@ViewBag.Title</h3>
	</div>

	@using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		<div class="card-body">
			@*Hide the product ID*@
			@Html.HiddenFor(x => x.PictureID)

			@*Display the other fields, pre-filled in*@
			@foreach (var property in ViewData.ModelMetadata.Properties)
			{
				switch (property.PropertyName)
				{
					case "PictureID":
					case "ImageData":
					case "ImageMimeType":
						break;
					default:
						<div class="mb-3">
							<label class="form-label">
								@(property.DisplayName ?? property.PropertyName)
							</label>

							@if (property.PropertyName == "Description")
							{
								@Html.TextArea(property.PropertyName, null, new { @class = "form-control", rows = 5 })
							}
							else
							{
								@Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
							}

							@Html.ValidationMessage(property.PropertyName)

						</div>
						break;
				}
			}
			<div class="mb-3">
				<label class="form-label">Image</label>
				<div style="position:relative;">
					<a class="btn btn-secondary" href="javascript:;">
						Choose File
						<input type="file" name="Image" size="40"
							   style="position:absolute;z-index:2;top:0;left:0;opacity:0;
						background-color:transparent;color:transparent;"
							   onchange='$("upload-file-info").html($(this).val());' />
					</a>
					<span class="form-label label-info" id="upload-file-info"></span>
				</div>

				@if (Model.ImageData == null)
				{
					<div class="form-text">No Image</div>
				}
				else
				{
					<img class="img-thumbnail" width="150" height="150"
						 src='@Url.Action("GetImage", "Picture", new { Model.PictureID })' />
				}
			</div>
		</div>


		<div class="card-footer">
			<input type="submit" value="Save" class="btn btn-primary" />
			@Html.ActionLink("Cancel and return to list", "Index", null, new { @class = "btn btn-primary" })
		</div>
	}
</div>